{
  "root": true,
//  "parser": "@typescript-eslint/parser",
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "./.eslintrc-auto-import.json"
  ],
  "globals": {
    "console": true,
    "window": true,
    "document": true
  },
  "rules": {
    "semi": "error",//分号
    "prefer-const": "error",//对于不会被重新赋值的变量，最好使用const进行声明
    "array-callback-return": "error",//数组的map、filter、sort、reduce、find、findIndex、every、some、forEach等方法中的回调函数必须有返回值
    "constructor-super": "error",//派生类的构造函数必须调用super
    "for-direction": "error",//For循环的更新部分必须正确控制循环的方向
    "getter-return": "error",//Getter必须有返回值，并且禁止返回undefined
    "no-async-promise-executor": "error",//禁止使用异步函数作为Promise构造函数的参数
    "no-await-in-loop": "error",//禁止在循环中出现await
    "no-class-assign": "error",//禁止修改类声明的变量
    "no-compare-neg-zero": "error",//禁止与-0进行比较
    "no-cond-assign": "error",//禁止在条件语句中出现赋值操作符
    "no-const-assign": "error",//禁止修改const声明的变量
    "no-constant-condition": "error",//禁止在条件中使用常量表达式
    "no-constructor-return": "error",//不允许在构造函数中返回值
    "no-control-regex": "error",//禁止在正则表达式中使用控制字符
    "no-debugger": "error",//禁用debugger
    "no-dupe-args": "error",//禁止在函数定义或表达中出现重名参数
    "no-dupe-class-members": "error",//禁止类成员中出现重复的名称
    "no-dupe-else-if": "error",//禁止在else-if中出现重复的条件
    "no-dupe-keys": "error",//禁止在对象字面量中出现重复的键
    "no-duplicate-case": "error",//禁止在switch语句中出现重复的case标签
    "no-duplicate-imports": "error",//禁止重复导入模块
    "no-empty-character-class": "error",//正则表达式中不允许出现空的字符集
    "no-empty-pattern": "error",//禁止使用空解构模式
    "no-ex-assign": "error",//禁止对catch子句的参数重新赋值
    "no-fallthrough": "error",//禁止switch穿透
    "no-func-assign": "error",//禁止对函数声明重新赋值
    "no-import-assign": "error",//禁止对import导入的模块进行赋值
    "no-inner-declarations": "error",//禁止在嵌套的块中出现变量声明或函数声明
    "no-invalid-regexp": "error",//禁止在RegExp构造函数中出现无效的正则表达式
    "no-irregular-whitespace": "error",//禁止在字符串和注释之外不规则的空白
    "no-loss-of-precision": "error",//禁止丢失精度
    "no-misleading-character-class": "error",//禁止在字符类语法中出现由多个代码点组成的字符
    "no-new-native-nonconstructor": "error",//禁止对new操作符后的对象使用不是构造函数的方法
    "no-obj-calls": "error",//禁止把全局对象作为函数调用
    "no-setter-return": "error",//Setter必须有返回值，并且禁止返回undefined
    "no-promise-executor-return": "error",//Promise构造函数中不允许返回值
    "no-prototype-builtins": "error",//禁止直接调用Object.prototype上的一些方法
    "no-self-compare": "error",//禁止自身比较
    "no-self-assign": "error",//禁止自身赋值
    "no-this-before-super": "error",//在构造函数中禁止在调用super()之前使用this或super
    "no-undef": "error",//禁止使用未声明的变量
    "no-unexpected-multiline": "error",//禁止出现令人困惑的多行表达式
    "no-unmodified-loop-condition": "error",//禁止未修改的循环条件
    "no-unreachable": "error",//禁止在return、throw、continue和break语句后出现不可达代码
    "no-unreachable-loop": "error",//禁止在循环中出现不可达代码
    "no-unsafe-finally": "error",//禁止在finally中出现控制流语句
    "no-unsafe-negation": "error",//禁止对关系运算符的左操作数使用否定操作符
    "no-unused-private-class-members": "error",//禁止未使用的私有成员
    "no-unused-vars": "error",//禁止出现未使用过的变量
    "no-use-before-define": "error",//禁止在变量定义之前使用它们
    "no-useless-assignment": "off",//禁止不必要地赋值操作
    "no-useless-backreference": "error",//禁止在正则表达式中出现无用的反向引用
    "require-atomic-updates": "error",//禁止由于await或yield的使用而可能导致出现竞态条件的赋值
    "use-isnan": "error",//要求调用isNaN()检查NaN
    "valid-typeof": "error",//强制typeof表达式与有效的字符串进行比较
    //     Suggestions
    "accessor-pairs": "warn",//强制getter和setter成对出现在对象中
    "camelcase": "warn",//强制使用骆驼拼写法命名约定
    "arrow-body-style": "warn",//要求箭头函数体使用大括号
    "capitalized-comments": "warn",//强制注释首字母大写
    "quotes": "error",//强制使用一致的反勾号、双引号或单引号
    "@typescript-eslint/no-explicit-any": "off"
  }
}
